<head>
    <title>Bangla-web</title>
    <meta name="google-site-verification" content="nAcnVGHEX4j2DuHLA6aWXeodyzmPzD-h4K0S5mCPdXE" />
</head>

<body>
    {{> mmenu}}
</body>
<template name="applayout">
    <div class="page">
        {{> Template.dynamic template=top}}
        <div id="container">
            {{> Template.dynamic template=main}}
        </div>
        {{> Template.dynamic template=footer}}
    </div>
</template>
<!----------------------------------------------------------template typedElement-------------------------------------------------------------->