#contact-page
  width: 100%
  position: relative
  margin-bottom: 20px
  font-size: 80%
  background: aquamarine
  #contact
    width: 50%
    float: left
    padding: 3%
    position: relative
    box-sizing: border-box
    &>label
      font-size: 2rem
      font-family: fantasy
      text-transform: capitalize
      display: block;
      padding: 10px
      color: white
      margin: 10px auto
      text-align: center
      border-bottom: 5px solid
      background: rgb(33, 178, 145)
      i
        margin: 0 20px 0 0
    form
      width: 100%
      position: relative
      textarea
        width: 100%
        padding: 2%
        margin-top: 20px
        text-transform: uppercase
        border-radius: 5px

       label
        display: inline-block;
        background: rgb(33, 178, 145)
        color: white
        width: 70px
        text-transform: uppercase
        padding: 10px
      input[type="Email"]
        display: inline-block;
        left: 70px
        position: absolute
        padding: 10px
        border: none
        width: 81%
        background: gainsboro
        outline: none

      input[type="submit"]
        width: 50%
        display: block
        margin: 10px auto
        padding: 10px
        background: rgb(33, 178, 145)
        border: none
        color:white
  #contact-info
    display: block
    position: relative
    text-align: center
    float: left
    width: 50%
    box-sizing: border-box
    padding: 3%
    h4
      font-size: 2rem
      font-family: fantasy
      text-transform: capitalize
      display: block;
      padding: 10px
      color: white
      margin: 10px auto
      text-align: center
      border-bottom: 5px solid
      background: rgb(33, 178, 145)
    h5
      text-align: left
      font-size: 1.5rem
      text-transform: capitalize
      margin: 15px 0
      i
        margin: 0 10px
        color: rgb(33, 178, 145)
    .social
      border:4px solid $color_main
      padding: 10px
      border-bottom: 15px solid $color_main
      span
        position: relative;
        a
          width: 80px
          display: inline-block;
          margin-right: 10px
          background: rgb(33, 178, 145)
          color: white
          padding: 10px
