.space-one
  display: block
  margin-bottom: 10px


.fastrack_store
  padding 2%
  width 90%
  margin 0 auto
  background aquamarine
  color black
  font-family "Century Gothic", "Trebuchet MS"
  height 100%
  display: flex
  clearfix()
  +below(2)
    flex-direction: column-reverse
  .order-form // section which holding the form and success message showing div
    display: block;
    position: relative
    #insertOrder // form
      flex: 2
      display block
      +below(2)
        width: 100%
      fieldset
        margin: 20px 0
        border: none
    .form-success //styles to success message if order is successful
        color: #607D8B
        padding: 10px
        background: aliceblue
  .view-product-demo
    display flex
    flex: 1
    padding 10px
    margin 0
    flex-direction: column
    justify-content: center
    img
      width auto
      height 150px
      display block
      margin 0 auto
    p
      margin 10px
      text-align center
  +below(2)
    form , .view-pro-less
      width: 100%


// style end for sub content where people can put order

// styles for order page when they are not logged in
  h1
    margin: 10px
    border-bottom: 4px solid #48cfad
    width: 50%
    margin: 0 auto;
    color: #009688
  .external-service
    width: 100%
    margin: 10px 0
    justify-content: center
    
.offer
  h4
    font-size: 20px
    color: cadetblue
  ul
    padding: 0 20px
    list-style-type: lower-roman
    font-style: italic
    li
      font-size: 15px
