.fastrack_store
  padding 3%
  width 60%
  margin 0 auto
  background aquamarine
  color black
  font-family "Century Gothic", "Trebuchet MS"
  .group
    display block
    margin 20px
    label
      padding 5px
      margin-right 10px
    input
      padding 5px
    span
      margin-right 10px
