scale = 0 450px 600px 800px 1050px
//color defualt
$color_main = #21B291
$main_light = #48cfad
$teal = #39CCCC
//size constants
$header_height = 450px

//The common property for header tail and herader-head
