.product-gallery-pro
  max-width: 960px
  margin: 0 auto
  font-family sans-serif
  padding: 10px 20px
  h1
    font-size 35px
    font-weight 300
    flex 1
    width: 100%
    border-bottom: 3px solid white

  h5
    font-weight 500
    line-height 1.2rem
    margin: 5px
    a
      font-size: 1rem
      +below(3)
        font-size 115%
      +below(2)
        font-size 125%
  h6
    color #666
    font-size 18px
    margin: 8px
  .product-filter
    display: flex
    padding: 20px 10px
  .sort
    display flex
    width: 100%
    justify-content: space-between
  .collection-sort
    display flex
    flex-direction row
    +below(2)
      flex-direction: column
    &:first-child
      padding-right 20px
    label
      color #666
      font-size 1rem
      font-weight 500
      line-height 2em
      text-transform uppercase
      font-family: sans-serif
      font-weight: bold
      margin-right: 10px
      margin-top: 5px
      color: black
    select
      padding: 6px
      border: 5px solid #48cfad

  .products
    display flex
    flex-wrap wrap

  .product-card
    display flex
    flex-direction column
    padding 2%
    flex 1 16%
    background-color #FFF
    box-shadow 0px 0px 1px 0px #48cfad

  .product-image
    display: flex
    justify-content: center
    img
      width auto
      margin: 0 auto
      max-height 270px
      max-width 210px
      overflow hidden
  .product-info
    margin-top: auto
    padding-top: 20px
    text-align: center
    .order
      margin-top auto
      padding 5px
      text-align center
      display: block
      font-size: 1.5rem
      width: 100%
      border: none
      background: b6dbe0
      a
        text-decoration: none;

  @media ( max-width: 920px )
    .product-card
      flex 1 21%

  .products .product-card:first-child,
  .products .product-card:nth-child(2)
    @media ( max-width: 920px )
      flex 2 46%

    @media ( max-width: 600px )
      .product-card
        flex 1 46%

    @media ( max-width: 480px )
      h1
        margin-bottom 20px
      .product-filter
        flex-direction column
      .sort
        align-self flex-start
