h2.title
  font-size: 2rem
  margin: 40px auto
  font-weight: bold
  font-variant: small-caps
  text-align: center
  border-bottom: 10px solid #2196f3
  color: #2196f3
  width: 75%
  +below(2)
    width: 100%
