<template name="header_footer">
    <ul class="info-menu">
        <li class="point">
            <a href="#">Buy</a>
            <span>
                <i class="fa fa-shopping-cart"></i>
            </span>
        </li>
        <li class="point">
            <a href="#">Estimate cost</a>
            <span>
                <i class="fa fa-money"></i>
            </span>
        </li>
        <li class="point">
            <a href="#">Compare packages</a>
            <span>
                <i class="fa fa-balance-scale"></i>
            </span>
        </li>
        <li class="point">
            <a href="#">Why us?</a>
            <span>
                <i class="fa fa-question"></i>
            </span>
        </li>
    </ul>
</template>