<template name="slideMenu">
    <span class="slide-menu">
      <a id="js-berger-menu" href="#menu" class="berger-menu"><span
              class="berger-menu__icon"></span></a>
    </span>
</template>

<template name="logo">
    <div class="logo">
        <img src={{logoUrl}} />
    </div>
</template>


<template name="header_head">
    <section class="header-head header" id="header">
        <!--add slide-menu Template at the very begining-->
        {{>slideMenu}}
        <!--if size is more than scale 2 the show the nav-->
        {{#unless size}} {{> okayNav}} {{/unless}}
        <!--template for logo-->
        {{>logo logoUrl="/img/logo_small.png"}}
        <!--Template for login button-->
        {{>initUserManagement}}
    </section>
</template>
