<template name="header_head">
    <section class="header-head header" id="header">

        <span class="slide-menu">
            <a id="js-berger-menu" href="#menu" class="berger-menu"><span
                    class="berger-menu__icon"></span></a>
        </span>
        {{#unless size}} {{> okayNav}} {{/unless}}

        <div class="logo">
            <img src="/img/logo_small.png" />
        </div>
        {{>login_init}}

    </section>
</template>
<template name="header_store">
    <header>
        <section class="header-head header" id="header">
            <span class="slide-menu">
            <a id="js-berger-menu" href="#menu" class="berger-menu"><span
                    class="berger-menu__icon"></span></a>
            </span>
            <nav role="navigation" id="nav-main" class="okayNav">
                <ul>
                    <li>
                        <a href="{{pathFor '/fastrack'}}">Home</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/fastrack'}}">Products</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/fastrack/admin'}}">Admin</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/fastrack/order'}}">order</a>
                    </li>
                    <li>
                        <a href="{{pathFor '/contact'}}">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="logo">
                <img src="/img/fastrack_icon.png" title="fastrackbd" alt="fastrackbd logo" />
            </div>

        </section>
    </header>
</template>
