<template name="header_main">
    <div class="hero-text">
        <h1 class="main-hero">Welcome here</h1>
        <h3 class="info-hero">One stop solution for every needs to make a website</h3>
    </div>
    <div class="service-slide">
        <div class="service-slide-title">
            <span class="fa slide-dir">
                <i class="fa-chevron-left"></i>
            </span>
            <h3 class="service-name">Our services</h3>
            <span class="fa slide-dir">
                <i class="fa-chevron-right"></i>
            </span>
        </div>
        <ul>
            <li>
                <div>
                    <i class="fa fa-cloud"></i>
                    <a href="#">Web design & hosting</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-code"></i>
                    <a href="#">E-commerce</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-copyright"></i>
                    <a href="#">Seo</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-info"></i>
                    <a href="#">Training</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-mobile"></i>
                    <a href="#">Custom app</a>
                </div>
            </li>
        </ul>
    </div>
</template>