footer
  padding:5px
  overflow: hidden
  height: 60px
  position: relative
  .social-foo
    span
      padding: 2px
      background: white
      display: inline-block
      min-width: 35px
      a
        color: black

  p
    font-size: 12px
    display: inline-block
    padding: 2px
    margin-right: 5px
    color: white
    font-variant: small-caps
    text-transform: capitalize
    a
      color: white
      text-decoration: none
