<template name="footer">
    <footer>
        <div class="total_link">
            <div class="cat">
                <span>
                    <a>Hosting</a>
                </span>
                <ul>
                    <li>
                        <a href="">All packages</a>
                    </li>
                    <li>
                        <a href="#">Hosting offer</a>
                    </li>
                    <li>
                        <a href="#">Compare packages</a>
                    </li>
                </ul>
            </div>
            <div class="cat">
                <span>
                    <a>Design</a>
                </span>
                <ul>
                    <li>
                        <a href="">Web design</a>
                    </li>
                    <li>
                        <a href="#">logo design</a>
                    </li>
                    <li>
                        <a href="#">Other design service</a>
                    </li>
                </ul>
            </div>
            <div class="cat">
                <span>
                    <a>E-commerce</a>
                </span>
                <ul>
                    <li>
                        <a href="">Make a web store</a>
                    </li>
                    <li>
                        <a href="#">Facebook shop</a>
                    </li>
                    <li>
                        <a href="#">Promotion</a>
                    </li>
                </ul>
            </div>
            <div class="cat">
                <span>
                    <a href="">Other services</a>
                </span>
                <ul>
                    <li>
                        <a href="">Seo</a>
                    </li>
                    <li>
                        <a href="#">Domain registration</a>
                    </li>
                    <li>
                        <a href="#">Make an web app</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="social-foo">
            <span>
                <a class="fa fa-facebook" href="#"></a>
            </span>
            <span>
                <a class="fa fa-google-plus" href="#"></a>
            </span>
            <span>
                <a class="fa fa-twitter" href="#"></a>
            </span>
        </div>
        <p>Production of banglaweb</p>

        <p>
            <a href="mailto:contact@banglawebs.com">contact@banglawebs.com</a>
        </p>

        <p class="copyright">
            <i class="fa fa-copyright"></i> copyright Banglaweb
        </p>
    </footer>
</template>
