<template name="formLogIn">
    <form class="external-service">
        <button data-social-login="loginWithFacebook" type="submit" class="external-login">
            <i Class="fa fa-facebook"></i><span>Log in with facebook </span>
        </button>
    </form>
    <form class="logUser">
        <div class="field-wrap">
            <label>
                Email Address<span class="req">*</span>
            </label>
            <input name="loginEmail" type="email" required autocomplete="off" />
        </div>

        <div class="field-wrap">
            <label>
                Password<span class="req">*</span>
            </label>
            <input name="loginPassword" type="password" required autocomplete="off" />
        </div>

        <p class="forgot tab-select"><a href="#forgotPass">Forgot Password?</a></p>
        <button class="button button-block">Log In</button>
    </form>

</template>
